In [2]:
import pandas as pd
import os
import geopandas as gpd
import glob

In [6]:
FILENAME1 = 'LAD_DEC_2021_UK_NC.csv'
FILENAME2 = 'all-domestic-certificates'

In [7]:
df_LA = pd.read_csv(FILENAME1)

df_LA.head()

     LAD21CD               LAD21NM LAD21NMW
0  E06000001            Hartlepool      NaN
1  E06000002         Middlesbrough      NaN
2  E06000003  Redcar and Cleveland      NaN
3  E06000004      Stockton-on-Tees      NaN
4  E06000005            Darlington      NaN

In [8]:
globbed_files = glob.glob("*.csv")

data = []

for csv in globbed_files:
    frame = pd.read_csv(csv)
    frame['filename'] = os.path.basename(csv)
    data.append(frame)

NameError: name 'glob' is not defined